body{

    width:500px;

    margin:auto;

    margin-top:50px;

    font-family:Arial;

}

input{

    width:250px;

    font-size:20px;

    padding:8px;

}

textarea {

    width:90%;

    font-size:20px;

    padding:10px;

    line-height:1.8;

}


#traditional,
#jyutping {

    white-space:pre-line;

    font-size:22px;

    line-height:2;

}

button{

    font-size:18px;

    padding:8px;

    margin-top:10px;

}

p{

    font-size:22px;

}